:root {
    --primary-color: #7454fc;
    --text-color: #4b515a;
    --link-hover-color: #7454fc;
    --bg-hover-color: #45368c;
    --transition: all ease 300ms;
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/iranyekanwebregular.eot'),
        url('../fonts/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iranyekanwebregular.ttf') format('truetype'),
        url('../fonts/iranyekanwebregular.woff') format('woff'),
        url('../fonts/iranyekanwebregular.woff2') format('woff2');
    font-weight: normal;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-fluid {
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

body {
    font-family: 'yekan';
    font-size: 14px;
}

input[type=text],
input[type=search] {
    font-family: 'yekan';
}

/* overlay styles  */
.overlay__section {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
    display: none;
}

.overlay__section.active {
    display: block;
}

/* Header styles  */
.main_header {
    border-top: 3px solid var(--primary-color);
    padding: 1.4rem 0;
}

.main_header .row {
    align-items: center;
}

/* Header logo styles */
.main_header .logo__header .img-fluid {
    display: block;
}

/* header menu styles  */
.main_header .menu__header {
    display: flex;
    align-items: center;
}

.main_header .menu__header .menu {
    display: flex;
}

.main_header .menu__header .menu .menu-item {
    margin-left: 30px;
    position: relative;
}

.main_header .menu__header .menu .menu-item a {
    color: var(--text-color);
    font-size: 0.9rem;
    transition: var(--transition);
}

.main_header .menu__header .menu .menu-item:hover>a,
.main_header .menu__header .menu .current-menu-item>a {
    color: var(--link-hover-color);
}

.main_header .menu__header .menu>.menu-item>.sub-menu {
    position: absolute;
    width: 200px;
    background: #fff;
    box-shadow: 0 0 30px -7px rgba(0, 0, 0, 0.25);
    padding: 20px;
    top: 100px;
    border-radius: 7px;
    border-top: 3px solid var(--primary-color);
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: 99;
}

.main_header .menu__header .menu>.menu-item.menu-item-has-children:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 35px;
}

.main_header .menu__header .menu .menu-item .sub-menu .menu-item {
    margin-bottom: 20px;
}

.main_header .menu__header .menu .menu-item .sub-menu .menu-item:last-child {
    margin-bottom: 0;
}

.main_header .menu__header .menu .menu-item.menu-item-has-children::after {
    content: '\f107';
    font-family: 'Font Awesome 6 pro';
    font-weight: 300;
    transition: var(--transition);
    position: absolute;
    display: block;
    left: -16px;
    top: 7px;
}

.main_header .menu__header .menu>.menu-item.menu-item-has-children:hover::after {
    transform: rotate(180deg);
    color: var(--link-hover-color);
}

.main_header .menu__header .menu .sub-menu .menu-item {
    margin-left: 0;

}

.main_header .menu__header .menu .sub-menu .menu-item.menu-item-has-children::after {
    content: '\f104';
    left: 0;
}

.main_header .menu__header .menu .sub-menu .menu-item .sub-menu {
    position: absolute;
    right: 170px;
    width: 200px;
    top: 0;
    background: #fff;
    box-shadow: 0 0 30px -7px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 7px;
    border-top: 3px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.main_header .menu__header .menu .sub-menu .menu-item.menu-item-has-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    right: 190px;
}

.main_header .menu__header .menu .sub-menu .menu-item.menu-item-has-children:hover::after {
    left: -8px;
    color: var(--link-hover-color);
}

/* Header custon btn styles  */
.main_header .menu__header .custom-btn a {
    color: #fdfdfd;
    background: var(--link-hover-color);
    padding: 5px 15px;
    border-radius: 5px;
    transition: var(--transition);
}

.main_header .menu__header .custom-btn a:hover {
    background-color: #45368c;
    color: #fff;
}

/* Header CTA styles  */
.main_header .cta__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_header .cta__header .cta__header__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main_header .cta__header .cta__header__right .cta__header__item {
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: var(--transition);
    margin-left: 3px;
}

.main_header .cta__header .cta__header__right .cta__header__item.cta__header__right--mode.active {
    background: var(--link-hover-color);
}

.main_header .cta__header .cta__header__right .cta__header__item.cta__header__right--mode.active path {
    stroke: #ffffff;
}

.main_header .cta__header .cta__header__right .cta__header__item:hover {
    background: var(--link-hover-color);
}

.main_header .cta__header .cta__header__right .cta__header__item.cta__header__right--search:hover svg {
    fill: #fff;
}

.main_header .cta__header .cta__header__right .cta__header__item.cta__header__right--mode:hover path {
    stroke: #fff;
}

.main_header .cta__header .cta__header__right .cta__header__item.cta__header__right--cart:hover path {
    stroke: #fff;
}

.main_header .cta__header .cta__header__left .cta__header__left--login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: var(--primary-color);
    color: #fff;
    padding: 15px;
    transition: var(--transition);
}

.main_header .cta__header .cta__header__left .cta__header__left--login .fa-light {
    margin-left: 5px;
}

.main_header .cta__header .cta__header__left .cta__header__left--login:hover {
    background: #45368c;
}

/* Header search widget styles */
.search__widget {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 300px;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: #fff;
    display: none;
}

.search__widget .search__widget__title {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 15px;
}

.search__widget .search__widget__input {
    width: 100%;
    background: #fff;
    border: 0;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 14px;
    font-size: 1rem;
    color: var(--text-color);
    position: relative;
    z-index: 3;
}

.search__widget .search__widget__input:focus {
    outline: 0;
}

.search__widget .search__widget__input::placeholder {
    color: #9c9c9c;
}

.search__widget .fa-xmark {
    position: absolute;
    right: 10px;
    top: 114px;
    width: 32px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: var(--transition);
}

.search__widget .fa-xmark:hover {
    background: var(--bg-hover-color);
}

.search__widget .fa-spinner {
    position: absolute;
    left: -32px;
    top: 55%;
    z-index: 99999;
    font-size: 23px;
    display: none;
}

.search__widget .search__widget__result {
    position: absolute;
    top: 70%;
    right: 0;
    width: 100%;
    max-height: 240px;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 5px;
}

.search__widget .search__widget__result .product {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.search__widget .search__widget__result .product .img_box {
    max-width: 70px;
}

.search__widget .search__widget__result .product .img_box .wp-post-image {
    max-width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search__widget .search__widget__result .product .info_box {
    margin-right: 10px;
}

.search__widget .search__widget__result .product .info_box .title {
    color: #636363;
    font-size: 0.85rem;
}

.search__widget .search__widget__result .product .info_box .price {
    color: #333;
    text-align: right;
}

.search__widget .search__widget__result .product .info_box .cta {
    text-align: right;
    display: block;
}

/* Scrollbar search widget styles */
.search__widget .search__widget__result::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.search__widget .search__widget__result::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

.search__widget .search__widget__result::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

.search__widget .search__widget__result::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

.search__widget .search__widget__result::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7454FC;
}

.search__widget .search__widget__result::-webkit-scrollbar-thumb:hover {
    background-color: #543DB7;
}

.search__widget .search__widget__result::-webkit-scrollbar-thumb:active {
    background-color: #433091;
}